.add-asset {
  width: max-content;
}

.right-side-card {
  font-family: var(--font-dogica-pixel);
  width: 360px;
}

.lower-pixel-card {
  width: calc(100% + 27px);
  margin-left: -14px;
  position: relative;
  top: 13px;
}

.lower-pixel-card .pixel-card {
  height: 134px;
}
.wrapper {
  /* width: 60%; */
}

.orange-card-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 86%;
  color: #ffffff;
}

.ica-address {
  padding: 20px;
  width: 300px;
  margin: auto;
  font-size: 0.75em;
  word-wrap: break-word;
  text-align: center;
}

.currency {
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  margin-bottom: 17px;
}

.value {
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
}

.mint-button {
  z-index: 10;
  position: relative;
  margin: auto;
  top: -13px;
}

.mint-button .pixel-card {
  width: 197px;
  height: 50px;
}

.button-text {
  color: white;
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
}

.deposit-card {
  width: 770px;
}
.deposit-card .pixel-card {
  /* width: 770px; */
}

/* .deposit-card .inner-container {
  padding: 40px;
} */

.logout-text {
  text-align: end;
  font-size: 16px;
  line-height: 16px;
  color: #ea0000;
}

.description-text {
  margin-top: 85px;
  font-weight: 700;
  font-size: 16px;
  line-height: 12px;
}

.change-deposit-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.change-deposit-button .pixel-card {
  height: 47px;
  width: 53px;
}

.change-deposit-button .inner-container {
  padding: 0;
}

.minus {
  bottom: 5px;
}

.plus {
  left: 3px;
}

.change-value-button-text {
  font-weight: 400;
  font-size: 42px;
  line-height: 32px;
  position: relative;

  color: #ffa300;
}

.currency.deposit {
  color: #3b00ea;
  margin-bottom: 27px;
}

.value.deposit {
  font-weight: 700;
  font-size: 48px;
  line-height: 36px;

  color: #3b00ea;
}

.deposit-button .pixel-card {
  width: 252px;
  height: 50px;
}

.deposit-button .inner-container {
  padding: 0;
}

.deposit-button {
  margin: 117px auto 0 auto;
}

.back-btn {
  color: #ffffff;
}

.back-btn .pixel-card {
  width: 252px;
  height: 50px;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 12px;
  color: #ff5c00;
}
.modal-btn .pixel-card {
  width: 228px;
  height: 66px;
}

.empower-coin-image {
  width: 187px;
  height: 172px;
}

.empower-logo {
  width: 188px;
  height: 74px;
}

.images-wrapper {
  padding: 50px 70px 0px;
}

@media (max-width: 1234px) {
  .right-side-card {
    width: 100%;
  }

  .deposit-card {
    width: 100%;
  }

  .description-text {
    margin-top: 0;
    text-align: left;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }

  .logout-text {
    font-size: 12px;
    line-height: 9px;
  }

  .value.deposit {
    word-spacing: -20px;
  }

  .deposit-button {
    margin-top: 45px;
  }

  .empower-coin-image {
    width: 94px;
    height: 86px;
  }

  .empower-logo {
    width: 147px;
    height: 57px;
  }

  .images-wrapper {
    justify-content: space-between;
    align-items: center;
  }

  .lower-pixel-card {
    width: calc(100% + 11px);
    margin-left: -6px;
    top: 6px;
  }
}
@media (max-width: 740px) {
  .right-side-card {
    width: 341px;
  }

  .deposit-card {
    width: 341px;
  }

  .value.deposit {
    font-size: 40px;
  }

  .currency.deposit {
    font-size: 12px;
  }

  .images-wrapper {
    padding: 50px 24px 0px;
  }

  .mint-button {
    top: 0;
    margin-top: 32px;
  }

  .modal-btn {
    margin-bottom: 30px;
  }
  .modal-btn:last-child {
    margin-bottom: 0;
  }

  .modal-btn .pixel-card {
    height: 57px;
  }
}
