.pixel-button-wrapper .pixel-corner {
  width: 5.3px;
  height: 5px;
}

.pixel-button-wrapper .pixel-corner.upper-left {
  box-shadow: -4.9px 5px 0 0 black, -10px 10.1px 0 0 black;
}

.pixel-button-wrapper .pixel-corner.upper-right {
  box-shadow: 5.2px 5px 0 0 black, 10.1px 10.1px 0 0 black;
}

.pixel-button-wrapper .pixel-corner.lower-left {
  box-shadow: -4.9px -5px 0 0 black, -10px -10.1px 0 0 black;
}

.pixel-button-wrapper .pixel-corner.lower-right {
  box-shadow: 5.2px -5px 0 0 black, 10.1px -10.1px 0 0 black;
}

.pixel-button-wrapper {
  height: 52px;
  width: 252px;
  justify-content: center;
}

.pixel-button-wrapper .pixel-vertical-line {
  min-width: 5px;
  margin-top: 10.2px;
  height: calc(100% - 10.2px);
}

.pixel-button-wrapper .pixel-vertical-line.left-side {
  margin-right: 4.9px;
}

.pixel-button-wrapper .pixel-vertical-line.right-side {
  margin-left: 4.9px;
}

.pixel-button-wrapper .pixel-horizontal-line {
  height: 5px;
}

.pixel-button-wrapper .inner-container-wrapper {
  margin-left: -4.9px;
  width: calc(100% + 10px);
}

.orange-border {
  border: 5px solid #ff7f36;
}

.pixel-button-wrapper .card-inside-container {
  flex: 1;
}

/* .pixel-button-wrapper .inner-container {
  background-color: #ff5c00;
} */

.pixel-button-wrapper .route-btn {
  font-weight: bold;
  color: white;
  word-spacing: -17px;
  font-size: 32px;
  background-color: #ff5c00;
}

/* PROPERTIES FOR ACTION BUTTON  */

.pixel-button-wrapper.action-button .pixel-corner {
  width: 3.3px;
  height: 3px;
}

.pixel-button-wrapper.action-button .pixel-corner.upper-left {
  box-shadow: -2.9px 3px 0 0 black, -5.9px 6px 0 0 black;
}

.pixel-button-wrapper.action-button .pixel-corner.upper-right {
  box-shadow: 2.7px 3px 0 0 black, 5.6px 6px 0 0 black;
}

.pixel-button-wrapper.action-button .pixel-corner.lower-left {
  box-shadow: -2.9px -3px 0 0 black, -5.9px -6px 0 0 black;
}

.pixel-button-wrapper.action-button .pixel-corner.lower-right {
  box-shadow: 2.7px -3px 0 0 black, 5.6px -6px 0 0 black;
}

.pixel-button-wrapper.action-button {
  height: 34px;
  width: 130px;
  justify-content: center;
}

.pixel-button-wrapper.action-button .pixel-vertical-line {
  min-width: 3px;
  margin-top: 6px;
  height: calc(100% - 6px);
}

.pixel-button-wrapper.action-button .pixel-vertical-line.left-side {
  margin-right: 3px;
}

.pixel-button-wrapper.action-button .pixel-vertical-line.right-side {
  margin-left: 2.5px;
}

.pixel-button-wrapper.action-button .pixel-horizontal-line {
  height: 3px;
}

.helpie-border {
  border: 3px solid #ff7f36;
}

.pixel-button-wrapper.action-button .inner-container {
  /* background-color: red; */
}

.pixel-button-wrapper.action-button .inner-container-wrapper {
  margin-left: -3px;
  width: calc(100% + 5.8px);
}

.action-button .action-text {
  color: #00b2ea;
  font-size: 13px;
  line-height: 10px;
}
