.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1170px;
}

.action-button {
  height: 34px;
  width: 130px;
}

.route-button {
  height: 52px;
  width: 252px;
}

.pixel-corner {
  position: absolute;
  z-index: 1;
  background-color: #000000;
}

.pixel-horizontal-line {
  background-color: black;
  position: relative;
  z-index: 0;
}

.pixel-vertical-line {
  position: relative;
  background-color: #000000;
}
.inner-container {
  width: 100%;
}

.inner-container-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.card-inside-container {
  flex: 1;
}

.action-button .action-text {
  color: #00b2ea;
  font-size: 13px;
  line-height: 10px;
}

/* biggest pixel size */

.big .pixel-corner {
  width: 13px;
  height: 13px;
}

.big .pixel-corner.upper-left {
  top: 13px;
  left: -13px;
}

.big .pixel-corner.lower-left {
  top: -13px;
  left: -10px;
}

.big .pixel-corner.upper-right {
  top: 13px;
  left: 0;
}

.big .pixel-corner.lower-right {
  top: -13px;
  left: 0;
}

.big .pixel-horizontal-line {
  height: 13px;
  width: calc(100% - 23px);
}

.big .pixel-vertical-line {
  min-width: 13px;
  margin-top: 26px;
}

.big .pixel-vertical-line.left-side {
  margin-right: 10px;
}

.big .pixel-vertical-line.right-side {
  margin-left: -10px;
}

.big .inner-container-wrapper {
  margin-left: -10px;
}

.big .border {
  border: 13px solid;
}

/* medium pixel size */

.medium .pixel-corner {
  width: 5px !important;
  height: 5px !important;
}

.medium .pixel-corner.upper-left {
  top: 5px !important;
  left: -5px !important;
}

.medium .pixel-corner.upper-right {
  top: 5px !important;
}

.medium .pixel-corner.lower-left {
  top: -5px !important;
  left: -5px !important;
}

.medium .pixel-corner.lower-right {
  top: -5px !important;
}

.medium .pixel-horizontal-line {
  width: calc(100% - 10px) !important;
  height: 5px !important;
}

.medium .pixel-vertical-line {
  min-width: 5px !important;
  margin-top: 10px !important;
}

.medium .pixel-vertical-line.left-side {
  margin-right: 5px !important;
}

.medium .pixel-vertical-line.right-side {
  margin-left: -5px !important;
}

.medium .inner-container-wrapper {
  margin-left: -5px !important;
}

.medium .border {
  border: 5px solid;
}

/* special property for medium route button */

.medium .route-btn {
  font-weight: bold;
  color: white;
  word-spacing: -17px;
  font-size: 32px;
  background-color: #ff5c00;
}

/* smol pixel size */

.small .pixel-corner {
  width: 3px !important;
  height: 3px !important;
}

.small .pixel-corner.upper-left {
  top: 3px !important;
  left: -3px !important;
}

.small .pixel-corner.upper-right {
  top: 3px !important;
}

.small .pixel-corner.lower-left {
  top: -3px !important;
  left: -3px !important;
}

.small .pixel-corner.lower-right {
  top: -3px !important;
}

.small .pixel-horizontal-line {
  height: 3px !important;
  width: calc(100% - 6px) !important;
}

.small .pixel-vertical-line {
  min-width: 3px !important;
  margin-top: 6px !important;
}

.small .pixel-vertical-line.left-side {
  margin-right: 3px !important;
}

.small .pixel-vertical-line.right-side {
  margin-left: -3px !important;
}

.small .inner-container-wrapper {
  margin-left: -3px !important;
}

.small .border {
  border: 3px solid;
}

@media (max-width: 740px) {
  .big .pixel-corner {
    width: 6px;
    height: 6px;
  }
  .big .pixel-horizontal-line {
    height: 6px;
    width: calc(100% - 12px);
  }

  .big .pixel-vertical-line {
    min-width: 6px;
    margin-top: 12px;
  }
  .big .border {
    border: 6px solid;
  }
  .big .inner-container-wrapper {
    margin-left: -6px;
  }
  .big .pixel-vertical-line.left-side {
    margin-right: 6px;
  }

  .big .pixel-vertical-line.right-side {
    margin-left: -6px;
  }

  .big .pixel-corner.upper-left {
    top: 6px;
    left: -6px;
  }
  .big .pixel-corner.lower-left {
    top: -6px;
    left: -6px;
  }

  .big .pixel-corner.upper-right {
    top: 6px;
    left: 0;
  }

  .big .pixel-corner.lower-right {
    top: -6px;
    left: 0;
  }

  .medium .border {
    border: 5px solid;
  }

  .small .border {
    border: 3px solid;
  }
}
